@{
    Layout = "_ClientLayout";
}

<h2>Contact Details</h2>
<hr id="main-hr" />

<div class="card">
    <div class="card-header text-center">
        <span class="text-bold">Helpline Numbers</span>
    </div>
    <div class="card-body">
        <span class="text-bold">JazzCash Complaints: 042-111-124-444</span>
        <hr />
        <span class="text-bold">Easypaisa Complaints: 0345-1113737</span>
        <hr />
        <span class="text-bold">Pakistan Railways : 042-99070011</span>
    </div>
</div>